@media(min-width:320px) and (max-width:575px) {

    nav button:focus {
        outline: 0;
    }

    nav button i {
        color: #fff !important;
        border-radius: 5px;
        line-height: 40px !important;
        text-align: center;
        margin-left: -20px !important;
    }

    nav ul {
        background: #000;
        text-align: center;

    }

    nav ul .hoveritem .hov:hover {
        color: red !important;

    }

    nav ul li a {
        color: #fff !important;
    }

    nav ul li .active a::after {
        width: 0;
    }

    nav ul li a:hover:after {
        width: 0;
    }

    #search .search-item input {

        
        font-size: 10px !important;
        height: 30px !important;

    }

    #search .col-4 {
        padding-left: 0 !important;
        padding-right: 12px !important;
    }


    #search .text {
        margin: 0 !important;
        font-size: 9px !important;
        
    }

    #search .logo {
        margin-top: -5px !important;
    }

    #search .search-item .my-2 {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    #search .search-item .icon {
        right: 0 !important;
        width: 30px !important;
        height: 30px !important;
    }

    #search .search-item .icon i {
        font-size: 15px !important;
        top: 5px !important;
        left: 4px !important;
    }



}



@media(min-width:576px) and (max-width:767px) {

     nav button:focus {
        outline: 0;
    }

    nav button i {
        color: #fff !important;
        border-radius: 5px;
        line-height: 40px !important;
        text-align: center;
        margin-left: -20px !important;
    }

    nav ul {
        background: #000;
        text-align: center;

    }

    nav ul .hoveritem .hov:hover {
        color: red !important;

    }

    nav ul li a {
        color: #fff !important;
    }

    nav ul li .active a::after {
        width: 0;
    }

    nav ul li a:hover:after {
        width: 0;
    }

    #search .search-item input {

        font-size: 10px !important;
        

    }

    #search .logo {
        margin-top: 0 !important;
    }

    #search .search-item .icon {
       
        right: 0 !important;
        width: 30px !important;
        height: 41px !important;
    }

    #search .search-item .icon i {
        font-size: 15px !important;
        top: 13px !important;
left: 6px !important;
    }

   

    #search .text {
        font-size: 14px !important;
    }

}

@media(min-width:630px) and (max-width:730px) {
    #search .logo {
        margin-top: -11px !important;
    }

}

@media(min-width:731px) and (max-width:767px) {
    #search .logo {
        margin-top: -21px !important;
    }

}



@media(min-width:768px) and (max-width:991px) {

    nav button:focus {
        outline: 0;
    }

    nav button i {
        color: #fff !important;
        border-radius: 5px;
        line-height: 40px !important;
        text-align: center;
        margin-left: -20px !important;
    }

    nav ul {
        background: #000;
        text-align: center;

    }

    nav ul .hoveritem .hov:hover {
        color: red !important;

    }

    nav ul li a {
        color: #fff !important;
    }

    nav ul li .active a::after {
        width: 0;
    }

    nav ul li a:hover:after {
        width: 0;
    }

    #search .search-item input {

        font-size: 10px !important;

    }

    #search .logo {
        margin-top: 0px !important;
    }

    #search .logo img {
        width: 80% !important;
    }

    #search .search-item .icon {
        top: 10px !important;
        right: 0 !important;
        width: 30px !important;
        height: 41px !important;
    }

    #search .search-item input {
        margin-top: 10px !important;
    }

    #search .search-item .icon i {
        font-size: 15px !important;
        left: 4px !important;
    }
}


@media(min-width:861px) and (max-width:900px) {
    #search .logo {
        margin-top: -10px !important;
    }
}

@media(min-width:901px) and (max-width:991px) {

    #search .logo {
        margin-top: -25px !important;
    }
}
    @media(min-width:992px) and (max-width:1199px) {

        nav button:focus {
            outline: 0;
        }

        nav button i {
            color: #fff !important;
            border-radius: 5px;
            line-height: 40px !important;
            text-align: center;
            margin-left: -20px !important;
        }

        nav ul {
            background: #000;
            text-align: center;
            margin-left: 38px !important;


        }

        nav ul .hoveritem .hov:hover {
            color: red !important;

        }

        nav ul li a {
            color: #fff !important;
            font-size: 12px !important;
        }

        nav ul li .active a::after {
            width: 0;
        }

        nav ul li a:hover:after {
            width: 0;
        }

        #search .search-item input {
            font-size: 14px !important;
        }

        #search .logo {
            margin-top: -15px !important;
        }

        #search .search-item .icon {
            height: 47px !important;
        }
        #search .text{
            margin: 0 0 !important;
            font-size: 15px !important;
        }



    }
     @media(min-width:1090px) and (max-width:1199px) {
         #search .logo {
            margin-top: -21px !important;
        }
}


















